
.back-modal{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 30vw;
    height: 40vw;

    position: relative;
    left: 50%;
    top:-7vw;


    background-color: #ffffff;

    z-index: -10;

    border-radius: 10px;
}

.title{
    position: absolute;
    font-family: 'GmarketSansMedium';
    font-size: 1.5vw;
    left: 2vw;
}


 .i {
    position: relative;
    width: 300px;
    z-index: 10000;

  }

  .in {
    position: absolute;
    left: 2vw;
    top:6vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

  .spans {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%; 
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 1vw;
    bottom: 2px;
    transition: all .2s;

    pointer-events: none;
  }


  input {
    font-size: 15px;
    color: #222222;
    width: 120%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 1000;
  }


  input::placeholder { color: #aaaaaa; }
  input:focus { outline: none; }

  input:focus ~ label, input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
  }
  
  input:focus ~ span, input:valid ~ span {
    width: 130%;
  }

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }