.title{
    position: absolute;
    font-family: 'GmarketSansMedium';
    font-size: 1.5vw;
    left: 2vw;
}


@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


.forms{
  width: 30vw;
  height: 40vw;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: absolute;
  left: 50%;
}